.root {
  background-color: black;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.bg-container {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  width: 100%;
}

.bg-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}

.text-block {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.118);
  padding: 1rem;
  max-width: 80%;
  text-align: center;
}

.tableau-container {
  width: 100%;
  height: 100vh;       /* match viz to viewport height */
  margin-top: 2rem;
}

.tableau-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}